{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Domilang | Learn Spanish for real
        </title>
        <link rel="shortcut icon" type="image/png" href="{% static 'webapp/images/translation.png' %}">
        <link rel="stylesheet" href="{% static 'webapp/styles.css' %}">
    </head>
    <body>
        <header>
            <img class="logo" src="#" alt="logo_oficial">
            <nav>
                <ul class="nav_links">
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
            <a class="cta" href="{% url 'webapp:login' %}"><button>Log in</button></a>
        </header>
        {% block content %}
        
        {% endblock %}
    </body>
</html>