{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Domilang</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'domilang/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="barra">
            <div>
                <h1>Domilang</h1>

                {% if user.is_authenticated %}
                    Signed in as <strong>{{ user.username }}</strong>.
                {% else %}
                    Not signed in.
                {% endif %}
            </div>
            <ul class="menu nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'domilang:home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'domilang:profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'domilang:logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'domilang:login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'domilang:register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>